@import '../../variables';

.send-message__wrapper{
  padding: 1rem;
  justify-content: space-between;
  display: flex;
  .message__input{
    width: 100%;
    margin-right: .5rem;
  }
  .btn{
    background-color: $dim-grey;
    border-color: none;
    .fa-paper-plane{
      width: 1rem;
      fill: $white;
    }
  }
}
